
ul, ol{list-style-type: none;}
a{color: inherit; text-decoration: none;}



.logo-one.web{color:#4d5ae5;}
.logo-two.studio{color:#2e2f42;}
.menu-link{color: #2e2f42;}

address{color:#434455;}



.hero-section{background-color: #2e2f42;}
.main-title{color:#ffffff;}

.page-header{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;}


.button{color:#4d5ae5;}
button{cursor: pointer;}
button{font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;}




    
.vectors-title{color:#2e2f42;}
.vectors-text{color:#434455;}



.team{color:#2e2f42;}
.teammates{color:#2e2f42;}
.team-text{color:#434455;}


.portfolio .portfilio-subtitle{color:#2e2f42;}

.page-footer{background-color: #2e2f42;}

.footer-text{color: #f4f4fd;}



